/* CSS for Paged.js interface – v0.4 */

/* Change the look */
:root {
  --color-background: whitesmoke;
  --color-pageSheet: #cfcfcf;
  --color-pageBox: violet;
  --color-paper: white;
  --color-marginBox: transparent;
  --pagedjs-crop-color: black;
  --pagedjs-crop-shadow: white;
  --pagedjs-crop-stroke: 1px;
}

@page {
  @bottom-right {
    content: counter(page);
  }
}
@page:first {
  @bottom-right {
    content: "";
  }
}

.content p {
  text-align: justify;
  hyphens: auto;
}
body {
  counter-reset: sectionNumber;
}
h2 {
  counter-increment: sectionNumber;
  counter-reset: subsectionNumber;
}
h2::before {
  content: counter(sectionNumber) ". ";
}
h3 {
  counter-increment: subsectionNumber;
}
h3::before {
  content: counter(sectionNumber) "." counter(subsectionNumber) ". ";
}
h2 {
  break-before: always;
}

#table-of-contents {
  break-before: page;
}

ul {
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
}

/* set the style for the list numbering to none */
#list-toc-generated {
  list-style: none;
}

#list-toc-generated .toc-element {
  break-inside: avoid;
}

#list-toc-generated .toc-element a::after {
  content: " p. " target-counter(attr(href), page);
  float: right;
}

#list-toc-generated .toc-element-level-1 {
  color: black;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

#list-toc-generated .toc-element-level-2 {
  margin-left: 25px;
}
.toc-element-level-1 a,
.toc-element-level-2 a {
  color: black;
}

/* counters */

#list-toc-generated {
  counter-reset: counterTocLevel1;
}

#list-toc-generated .toc-element-level-1 {
  counter-increment: counterTocLevel1;
  counter-reset: counterTocLevel2;
}

#list-toc-generated .toc-element-level-1::before {
  content: counter(counterTocLevel1) ". ";
  padding-right: 5px;
}

#list-toc-generated .toc-element-level-2 {
  counter-increment: counterTocLevel2;
}

#list-toc-generated .toc-element-level-2::before {
  content: counter(counterTocLevel1) ". " counter(counterTocLevel2) ". ";
  padding-right: 5px;
}

/* hack for leaders */

#list-toc-generated {
  overflow-x: hidden;
}

/* fake leading */
#list-toc-generated .toc-element::after {
  content: ".............................................."
    ".............................................."
    ".............................................." "........";
  float: left;
  width: 0;
  padding-left: 5px;
  letter-spacing: 2px;
}

#list-toc-generated .toc-element {
  display: flex;
}

#list-toc-generated .toc-element a::after {
  position: absolute;
  right: 0;
  background-color: white;
  padding-left: 6px;
}

#list-toc-generated .toc-element a {
  right: 0;
}
